/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    color: var(--primary-color);
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px !important;
}

/* CSS variables */
:root {
    --primary-color: #6d1ed1;
}

/* Global CSS theme */
body {
    background: whitesmoke;
}
