footer {
    position: relative;
    bottom: -30px;
    margin-top: 50px;
    border-top: solid var(--primary-color) 3px;
    box-shadow: 3px 3px 3px #adadad;  
}
footer div {
    display: flex;
    justify-content: center;
}

footer #footer_section {
    align-items: center;
    justify-content: space-between;
}

footer a, a:visited, p {
    color: var(--primary-color);
}

footer img {
  width: 80px;
}