footer {
    border-top: solid var(--primary-color) 1px;
    margin-top: 30px;
    padding: 1rem 0 1rem 0;
    position: relative;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer p,
footer a {
    margin: 0 40px;
    color: var(--primary-color);
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: black;
}

footer img {
    width: 60px;
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
    footer a,
    p {
        margin: 0 30px;
    }
}
