header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px 0px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .right-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    margin: 0 10px;
}

header i {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
        flex-direction: column;
    }
    header p,
    a,
    i {
        margin: 1px;
    }
    header .left-links {
        flex-direction: column;
    }
}
