body {
    height: 600px;

}

.titre-page {
    background-color: rgba(173, 173, 173, 0.5); /* correspond au #adadad */
    height: 75px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    color: #7245db;
}

h2 {
    font-size: large;
}


a, a:visited {
    color: hsl(258, 68%, 56%);
}

a:hover {
    color: #49c0cf;
}

a:link { 
    text-decoration: none; 
} 



/*///// EQUIPE.CSS /////*/

#presentation-team-page {
    text-align: center;   
}

#presentation-text {
    font-size: large;
}

#membres-team {

    width: 850px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#first-row, #second-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



figure img {
    box-shadow: 3px 3px 3px #adadad;  
}

figcaption {
    text-align: center;
    color: #7245db;
}
