.one-liner {
  margin-top: -60px;
}

.main-container {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px !important;
}

.middle-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-left {
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.container-right {
  justify-content: center;
  align-items: center;
   margin-left: 60px;
}

.container h1 {
  font-size: 32px;
  color: var(--primary-color);
}

.container p {
  font-size: 24px;
  color: var(--primary-color);
}

.container a {
  border: solid var(--primary-color) 3px;
}  

@media (max-width: 768px) {
  .middle-container {
    flex-wrap: wrap;
  }
  .middle-container div {
    margin: 20px;
  }
}