.cta {
    margin-bottom: 30px;
}

.middle-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-left {
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.container-right {
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.container h1 {
    font-size: 32px;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .middle-container {
        flex-wrap: wrap;
    }
    .middle-container div {
        margin: 20px;
    }
}
