*{
    box-sizing: border-box;
}



html {
     margin-bottom: 300px;
}
table{
    float: left;
}


table, tbody{
    border: 1px solid #333;
    background-color: rgba(228, 228, 228, 0.50);
    margin: 30px;
    /*table-layout: auto;*/
    border-style: none;
    
}
thead,tfoot{
    background-color: rgba(187, 158, 224, 0.24);
    color: black;
}
body{
    line-height: 1.4;
    font-family:"Roboto",sans-serif;
    margin:0;
    
}

td{
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;

}



.button{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    width: 200px;
    margin-bottom:10px;

}

.sidebar{
    /*float: right;*/
    padding-top: 15px;
    top: 0px;
    right: 0px;
}
ul{
    margin-top: 30px;
    list-style: none;
}
.buttonAjout{
    
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    margin-bottom:10px;
    margin-left: 30px;
}
.buttonAjout:hover,.button:hover,input[type=submit]:hover{
    border-style: solid;
    border-color: #6913D8;
    color: #6913D8;
}
.form{
    border-style: none;
}
input[type=text],textarea,input[type=submit]{
    margin: 15px;
    margin-left: 30px;
}
input[type=submit]{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    margin-bottom:10px;
    margin-left: 30px;
}
.body-under-container{
    display: flex;
    flex-wrap: wrap;
   
}
.body-under-container>* {
    flex: 1 1 60%;
  }