*{
    box-sizing: border-box;
}

.titre {
    background-color:rgba(196, 196, 196, 0.90);
    color: #6913D8;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin : 50px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
    padding: 15px;
    line-height: 0;
}

html {
     margin-bottom: 300px;
}



table, tbody{
    border: 1px solid #333;
    background-color: rgba(228, 228, 228, 0.50);
    margin: 30px;
    table-layout: auto;
    border-style: none;
}
thead,tfoot{
    background-color: rgba(187, 158, 224, 0.24);
    color: black;
}
body{
    line-height: 1.4;
    font-family:"Roboto",sans-serif;
    margin:0;
    align-items: center;
}
.bodyTable{
    width:calc(100%-400px);
    float: left;
}
.body{
   display: flex;
}
.reponse{
    text-align: justify;
}
td{
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;

}

.topbar .HeaderDroite{
    float: right;
}
.topbar img{
    height: 30px;
}
.topbar a{
    padding: 10px;
    text-decoration: none;
    color: #6913D8;
}
.topbar .HeaderGauche{
    float: left;
}
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
}

.topbar a:hover{
    color: black;
}
.footer a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: #6913D8;
}
.footer .footerGauche{
    float: left;
}
.footer .footerDroite{
    float: right;
}
.topbar,.footer{
    margin-right: 10px;
    margin-left: 10px;
}
.footer{
    clear: both;
}
.button{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    width: 200px;
    margin-bottom:10px;

}

.sidebar{
    float: right;
    padding-top: 15px;
    top: 0px;
    right: 0px;
}
.sidebar ul{
    list-style: none;
}
.buttonAjout{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    margin-bottom:10px;
    margin-left: 30px;
}
.buttonAjout:hover,.button:hover,input[type=submit]:hover{
    border-style: solid;
    border-color: #6913D8;
    color: #6913D8;
}
.form{
    border-style: none;
}
input[type=text],textarea,input[type=submit]{
    margin: 15px;
    margin-left: 30px;
}
input[type=submit]{
    text-align: center;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: none;
    border-style: none;
    margin-bottom:10px;
    margin-left: 30px;
}