h1 {
    margin-top: 40px;
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
}
.results {
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin: 50px;
    padding-left: 100px;
    border:  2px solid black;
}