.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 100px;
    margin-top: -50px;
}

.profile-btn {
    display: flex;
}
