body
{
	text-align: center;
}


h1 
{
	background-color: rgb(202, 202, 202);
	color: rgb(115, 37, 214);
	width: 800px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	margin-top: 50px;
}

.text_explicatif
{
	background-color: rgb(237, 237, 237);
	width: 700px;
	height: 350px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	font-size: 50px;
}

#bouton
{
	margin-bottom: 40px;
}

#bouton a
{
	color: rgb(115, 37, 214);
	text-decoration: none;
	border: 2px solid rgb(115, 37, 214);
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#bouton a:hover 
{
	color: rgb(155, 77, 254);
	border-color: rgb(155, 77, 254);
}